.best-page {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.best-page > small {
  color: var(--text55);
}

.best-container {
  display: flex;
  flex-direction: column;
}

.best-viewMore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text55);
}

.best-viewMore > small:hover {
  cursor: pointer;
}
