.runInfos-container {
  height: 1.5rem;
  color: var(--text25);
}

.runInfos-container > * > p {
  margin: 0;
  padding-inline: 0.5rem;
}

.runInfos-place > p {
  height: 1rem;
  text-align: center;
  font-size: 20px;
  color: var(--text45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.runInfos-time > p {
  width: 7.5rem;
  font-size: 16px;
  text-align: start;
  color: var(--text85);
}

.runInfos-date > p {
  width: 5.5rem;
  font-size: 0.75rem;
}

.runInfos-version > p {
  width: 4rem;
  font-size: 0.75rem;
}

.runInfos-seed > p {
  width: 5.5rem;
  font-size: 14px;
  color: var(--text35);
  text-decoration: underline solid;
}

.runInfos-spoilers > p {
  font-style: italic;
  font-size: 0.75rem;
}

.runInfos-spoilers:hover {
  cursor: pointer;
}

.runInfos-time > p,
.runInfos-date > p,
.runInfos-version > p,
.runInfos-seed > p,
.runInfos-spoilers > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .runInfos-container {
    justify-content: center;
  }

  .runInfos-container > * > p {
    padding-inline: 0.25rem;
  }

  .runInfos-time > p {
    width: 4.5rem;
  }

  .runInfos-date > p {
    width: 2.75rem;
  }

  .runInfos-version > p,
  .runInfos-seed > p {
    width: 3rem;
  }
}
