.keys-container {
  width: 25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dungeon-container {
  height: 65px;
  width: 65px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
}

.dungeon-keys {
  z-index: 10;
}

.dungeon-keys > small {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: var(--text85);
  font-weight: 600;
}

.dungeon-keys > img:hover {
  cursor: pointer;
}

.dungeon-container > img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
}
